{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="card-title">{{ 'home.title'|trans }}</h1>

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_row(form.userName, {'label': 'home.name'|trans}) }}
                        {{ form_row(form.animalName, {
                            'label': 'home.animal'|trans,
                            'attr': {'list': 'animals-list', 'autocomplete': 'off'}
                        }) }}

                        <datalist id="animals-list">
                            {% for animal in animals %}
                            <option value="{{ animal }}">
                                {% endfor %}
                        </datalist>
                        
                        {{ form_row(form.score, {'label': 'home.score'|trans}) }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">
                            {{ 'home.submit'|trans }}
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
